.DS_Store
Thumbs.db
src/main/dist
node_modules
npm-debug.log
bower_components
fis_components
*/src/main/webapp/static/CONFIG.js
logs
target
data
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
invited_info_trainoutput.txt
validate_nolabeloutput.txt
y_train.txt
final.csv
*output.txt
